<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
<head>
	
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="CIC - Centro Industrial do Ceará" />
<meta name="keywords" content="cic, fiec, centro industrial do ceará, indústrias, ceará, ciclo de debates, obec" />

<title>CIC - Centro Industrial do Ceará</title>
<link rel="stylesheet" type="text/css" href="cic.css" />

</head>

<body>
<div id="gog">

<!-- TOPO -->
<div id="topo">
	<a href="index.php"><img class="esq" src="img/topoLogoCIC.gif" alt="CIC" /></a>
	<a href="http://www.sfiec.org.br/" target="_blank"><img class="dir" src="img/topoLogoFIEC.gif" alt="FIEC" /></a>
</div>
<div id="topoBase"></div>

<!-- MENU -->
<div id="menu">
	<ul>
		<li><a class="clicado" href="#">Quem somos</a></li>
		<li><a href="#">Opinião do Presidente</a></li>
		<li><a href="#">Notícias</a></li>
		<li><a href="#">Agenda</a></li>
		<li><a href="#">CIC na Imprensa</a></li>
		<li><a href="#">Ciclo de Debates</a></li>
		<li><a href="#">Indicadores</a></li>
	</ul>
	<form>
		<h2>Busca</h2>
		<div id="input" class="esq"><span><input type="text" style="width: 90px" /></span></div> <!-- A DIV e o SPAN servem para fazer as bordas arredondadas -->
		<input class="esq" type="image" src="img/enviar.gif" />
	</form><br />
	<br />
	<img class="meio" src="img/_apoiadorMaster.gif" />
	<br />
	<img class="meio" src="img/_apoiadorMaster.gif" />
	<br />
	<img class="meio" src="img/_apoiadorMaster.gif" />
</div>

<!-- CONTEUDO -->
<div id="conteudo">
	<!-- CONTEUDO > TIRA DA ESQUERDA -->
	<div id="tiraEsq">
		<h1>Quem Somos</h1>
		<p>O Centro Industrial do Ceará - CIC, fundado em 27 de julho de 1919, é uma sociedade civil sem fins lucrativos constituída por pessoas físicas e jurídicas que exercem atividades industriais ou afins.</p>
		<p>Tem por objetivo precípuo o desenvolvimento econômico-social sustentado do Ceará, sem perder de vista o contexto regional e nacional, participando ativamente da discussão e formulação das políticas propostas.</p>
		<p>Por princípio básico o CIC concentra-se na defesa de questões de interesse geral, evitando posicionamentos corporativos, sem prejuízo da capacidade de representar e defender seus sócios perante os poderes constituídos e ainda, com eles colaborar no estudo e solução de assuntos que possam interessar a indústria brasileira, a expansão econômica nacional e de estimular, por outro lado, a defesa da cidadania, da liberdade humana e da livre empresa.</p>
		<h1>Diretoria biênio 2008 - 2010</h1>
		<h3>Presidente</h3>
		<p class="peq">Robson Passos de Castro e Silva</p>
		<h3>Vice-Presidentes</h3>
		<p class="peq">Francisco Régis Cavalcante Dias<br />
		Ivo Jucá Machado<br />
		Régis Nogueira de Medeiros<br />
		Roseane Oliveira de Medeiros<br />
		Vitor Bruno Machado Girão<br />
		<h3>Diretor Administrativo</h3>
		<p class="peq">Emília Buarque Resende</p>
		<h3>Presidente</h3>
		<p class="peq">Robson Passos de Castro e Silva</p>
		<h3>Vice-Presidentes</h3>
		<p class="peq">Francisco Régis Cavalcante Dias<br />
		Ivo Jucá Machado<br />
		Régis Nogueira de Medeiros<br />
		Roseane Oliveira de Medeiros<br />
		Vitor Bruno Machado Girão<br />
		<h3>Diretor Administrativo</h3>
		<p class="peq">Emília Buarque Resende</p>
		<h3>Presidente</h3>
		<p class="peq">Robson Passos de Castro e Silva</p>
		<h3>Vice-Presidentes</h3>
		<p class="peq">Francisco Régis Cavalcante Dias<br />
		Ivo Jucá Machado<br />
		Régis Nogueira de Medeiros<br />
		Roseane Oliveira de Medeiros<br />
		Vitor Bruno Machado Girão<br />
		<h3>Diretor Administrativo</h3>
		<p class="peq">Emília Buarque Resende</p>
		<h3>Presidente</h3>
		<p class="peq">Robson Passos de Castro e Silva</p>
		<h3>Vice-Presidentes</h3>
		<p class="peq">Francisco Régis Cavalcante Dias<br />
		Ivo Jucá Machado<br />
		Régis Nogueira de Medeiros<br />
		Roseane Oliveira de Medeiros<br />
		Vitor Bruno Machado Girão<br />
		<h3>Diretor Administrativo</h3>
		<p class="peq">Emília Buarque Resende</p>
		<h3>Presidente</h3>
		<p class="peq">Robson Passos de Castro e Silva</p>
		<h3>Vice-Presidentes</h3>
		<p class="peq">Francisco Régis Cavalcante Dias<br />
		Ivo Jucá Machado<br />
		Régis Nogueira de Medeiros<br />
		Roseane Oliveira de Medeiros<br />
		Vitor Bruno Machado Girão<br />
		<h3>Diretor Administrativo</h3>
		<p class="peq">Emília Buarque Resende</p>
	</div>
	<!-- CONTEUDO > TIRA DA DIREITA -->
	<div id="tiraDir">
		<img src="img/presidenteNome.gif" alt="Nosso Presidente" /><br />
		<br />
		<img src="img/presidenteFoto.jpg" alt="Presidente" /><br />
		<br />
		<p>Robinson Passos de Castro e Silva</p>
		<p>Pronunciamento de Posse do Sr. Presidente do CIC</p>
		<p>Inicio meu discurso agradecendo aos meus pares a confiança em mim depositada para presidir o Centro Industrial do Ceará neste próximo biênio. Sinto-me honrado, em meio a um colégio de tantos líderes, ter sido o escolhido a representar esta importante entidade.</p>
		<p>Dedicarei, em retribuição, toda a minha energia, experiência e inteligência objetivando o cumprimento da missão do CIC, e em fazer valer os princípios e valores que norteiam a nossa entidade.</p>
		<p>Agradeço a presença de todos que vieram para me incentivar e prestigiar esta posse.</p>
		<p>O CIC possui uma história de quase 90 anos. Sua história se confunde em muitos momentos com a história do próprio estado do Ceará, até porque, em muitos casos, foi ele a mola propulsora de grandes transformações políticas, econômicas e sociais no nosso estado.</p>
		<p>O CIC se situa muito além dos interesses corporativos. O papel corporativo é claramente exercido pela FIEC.</p>
		<p>O CIC exerce seu papel tendo como foco a sociedade de um modo geral, e sua missão é induzir o processo de construção coletiva do desenvolvimento sustentável do estado do Ceará.</p>
		<p>O papel do CIC não é, e nem nunca foi, executar políticas ou operacionalizar projetos. É uma entidade de vanguarda, sempre atuando como um fórum democrático de debates, uma “antena” política, que busca, muitas vezes, antecipadamente, discutir e influir na solução dos problemas e no desenvolvimento social do nosso povo, propondo alternativas de construção de uma nova consciência política. Atua ainda, na formação de novas lideranças e contribuindo com métodos inovadores de gestão.</p>
		<p>O CIC se caracteriza por ser uma entidade independente, suprapartidária. Seu compromisso é única e exclusivamente com o Estado, independente dos que fazem o governo.</p>
		<p>É verdade que em seus quadros há aqueles que pertencem a agremiações políticas diversas. Tem gente do partido A, do partido B, da esquerda, da direita, se é que essas ideologias ainda existem na forma original. Encontramos também industriais, empresários e profissionais liberais das mais diversas categorias, advogados, economistas, contadores, engenheiros, enfim, os seus componentes formam uma verdadeira salada multi-ideológica e multidisciplinar, e suas idéias após o processamento e convergência, se traduzem no pensamento do CIC. Por isso o CIC é forte, é respeitado, porque ninguém, enquanto CIC, pode tomar partido, mesmo se filiado for, esta é a marca registrada do CIC......Repito, o compromisso do CIC é com o Estado, é com a sociedade.</p>

	</div>
</div>

<!-- COLUNA DA DIREITA -->
<div id="direita">
	<h2>Agenda</h2>
	<div id="calendario"><img src="img/_calendario.gif" /></div>
	<h2>Indicadores</h2>
	<div id="indicadores"><img src="img/_indicadores.gif" /></div>
	<h2>Newsletter</h2>
	<form>
		<label class="esq" for="nome">Nome</label>
		<div id="input" class="camposNewsletter"><span><input name="nome" type="text" style="width: 90px" /></span></div>
		<label class="esq" for="email">E-mail</label>
		<div id="input" class="camposNewsletter"><span><input name="email" type="text" style="width: 90px" /></span></div>
		<label class="esq info">Informe seu nome e e-mail e receba periodicamente informações do CIC</label>
		<input class="dir" style="margin: -18px 15px" type="image" src="img/enviar.gif" />
	</form>
	<a href="#"><h2>Fale com o CIC</h2></a>
</div>

<!-- BASE -->
<div id="base">
	<div id="master"><img class="meio" src="img/_apoiadorMaster.gif" /></div>
	<div id="logos">
		<img src="img/_apoiador.gif" /><img src="img/_apoiador.gif" /><img src="img/_apoiador.gif" /><img src="img/_apoiador.gif" /><img src="img/_apoiador.gif" /><img src="img/_apoiador.gif" /><img src="img/_apoiador.gif" />
	</div>
</div>

<div style="clear: both"></div> <!-- Faz com que a formatação da GOG seja "puxada" até o fim -->

</div> <!-- Fim da GOG -->
</body>
</html>
