RewriteEngine on
RewriteCond $1 !(index\.php|img|scripts|javascript|addons|uploads|popups|icons|videos|calendario|images|imagelibrary|banners|js|robots\.txt|css|js|cgi-local|cgi-bin|phpinfo\.php) 
RewriteRule ^(.*)$ index.php/$1 [L]