body { 
	margin: 2px;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center; /* Para o iE centralizar a FORM */
	background: #FFFFFF;
}
form {
	margin: 0 auto; /* Para o FF centralizar a FORM */
	width: 700px;
	font-size: 10pt;
	text-align: left;
	background: #FFFFFF;
	border: 3px solid #4D4948;
}
form h1 {
	margin: 2;
	padding: 10px 0;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	background-color: #4D4948;
}
form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
form ul li {
	padding: 4px 0;
	color: #4D4948;
	border-top: 1px solid #FFFFFF;
}
form label {
	float: left;
	width: 150px;
	padding-left: 10px;
	padding-top: 3px;
	color: #4D4948;
}

form label span {
	color: #FF0000;
}
form textarea.campo {
	height: 200px;
	padding: 2px;
	width: 680px;
	background: #FDFDFD;
	border: 1px solid #DDDDDD;
	margin: 10px;
}
form textarea.campo:focus {
	background: #FFFAAA;
}
form input.campo {
	height: 24px;
	padding: 2px;
	width: 300px;
	background: #FDFDFD;
	border: 1px solid #DDDDDD;
}
form input.campo:focus {
	background: #FFFAAA;
}
form input.campoGd {
	height: 24px;
	padding: 2px;
	width: 500px;
	background: #FDFDFD;
	border: 1px solid #DDDDDD;
}
form input.campoGd:focus {
	background: #FFFAAA;
}
form input.campoPeq {
	height: 24px;
	padding: 2px;
	width: 100px;
	background: #FDFDFD;
	border: 1px solid #DDDDDD;
}
form input.campoPeq:focus {
	background: #FFFAAA;
}
form input.botao {
	margin: 5px 0;
	height: 22px;
	font-size: 10pt;
	color: #555555;
	border: 1px solid #555555;
	background: #F0F0F0;
}
form select {
	background: #FDFDFD;
	border: 1px solid #DDDDDD;
}
table.listar {
	margin: 0 auto;
	padding: 0;
	width: 700px;
	font-size: 12px;
	background: #FFFFFF;
	border: 3px solid #4D4948;
}
table.listar tr.titulo td {
	padding: 10px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color:#4D4948 ;
}
table.listar tr td {
	padding: 3px 10px;
	color: #666666;
	border-top: 1px solid #F4F4F4;
}
table.listar tr td.acoes {
	width: 50px;
}
.msgErro {
	/* display: none; */
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left:75px;
	padding-top:10px;
	padding-bottom:10px;
	width: 700px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #AA0000;
	border: 3px solid #AA0000;
	background: url("../img/erro.gif") no-repeat;
	background-position: 15px center;
}
.msgOk {
	/* display: none; */
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left:75px;
	padding-top:20px;
	padding-bottom:20px;
	width: 700px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #000066;
	border: 3px solid #336600;
	background: url("../img/ok.gif") no-repeat;
	background-position: 15px center;
}
